Package: com.thecasle.ncsquared
Name: ncsquared
Version: 1.0.b1
Architecture: iphoneos-arm
Description: mighty tweaks for ios notification
Homepage: ihorlaitan.github.io
Maintainer: bilal
Author: bilal
Sponsor: Apple.com
Section: Tweaks
